* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.btn-navbar{
    border: none;
    background-color: #2A6188;
    border: none;
    color: white;
    transition: 0.5s;
}

.btn-navbar:hover {
    background-color: rgb(25, 72, 105);
    border: none;
}

.btn-navbar:focus {
    outline: none;
    border: none;
}

.ButtonMySite {
    cursor: pointer;
    background-color: #FFFFFF;
}

.ButtonMySite:hover {
    background-color: rgba(0, 0, 0, 0.11);
}

.buttonBadge{
    transition: 0.6s;
}

.buttonBadge:hover{
    cursor: pointer;
    background-color: black;
}

.btn-read-article{
    color: rgb(26, 26, 26);
    transition: 0.5s;
}

.btn-read-article:hover{
    color: #2E73B2;
}

.btn-delete-article{
    color: rgb(26, 26, 26);
    transition: 0.5s;
}

.btn-delete-article:hover{
    color: rgb(218, 8, 8);
}

.btn-edited-article{
    color: rgb(26, 26, 26);
    transition: 0.5s;
}

.btn-edited-article:hover{
    color: rgb(60, 163, 19);
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: rgb(92, 92, 92);
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid rgb(207, 207, 207);
}
.separator::before {
    margin-right: .25em;
}
.separator::after {
    margin-left: .25em;
}

.files input {
    outline-offset: -10px;
    background-color: #FFFFFF;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    text-align: center !important;
    /* padding: 70px 0px 70px 90px; */
    padding: 15px 0px 15px 90px;
    margin: 0;
    cursor: context-menu;
    /* display:none; */
}
.files input:focus{
    background-color: #FFFFFF;
    outline-offset: -10px;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
 }
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;
    pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    display: block;
    margin: 0 auto;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}