<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" !important>
    <title>Mini WordPress</title>
</head>

<body>
    <div id="app">
        <!-- header -->
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-dark head-er">
                <h5 class="navbar-brand">Mini WordPress</h5>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form class="form-inline my-2 my-lg-0 ml-auto">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                            v-model="search">
                    </form>
                </div>
            </nav>
        </header>


        <!-- sidebar -->
        <div class="wrapper side_bar">
            <!-- Sidebar -->
            <nav id="sidebar">
                <ul class="list-unstyled components">
                    <li class="">
                        <button data-target="#homeSubmenu" data-toggle="collapse" aria-expanded="false"
                            class="dropdown-toggle btn">Dashboard</button>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#form_modal">Add Article</button>
                            </li>
                            <li>
                                <button type="button" class="btn btn-primary" @click='getArticle'>My Article</button>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <button data-target="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
                            class="dropdown-toggle btn">Profile</button>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li>
                                <button type="button" class="btn-primary btn">About me</button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- body, fake article -->
        <div id="body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima blanditiis vero ratione aliquam ullam
            eveniet
            quam dolorem molestias iusto sint aspernatur odit ipsum exercitationem itaque porro, esse numquam quia
            consectetur?
            <div class="container text-center" v-for="art in article" v-if="!search || art.title.includes(search)">
                <div class="wrapper article_box">
                    <h3>{{art.title}}</h3>
                    <p>{{art.content}}</p>
                    <blockquote class="mr-0">created at: {{new Date(art.createdAt).toLocaleString()}}</blockquote>
                    <div id="btn_inside">
                        <button data-toggle="modal" data-target="#form_modal_update" @click="setId(art._id)"
                            class="btn btn-secondary delete-btn"
                            style="background-color: rgb(156, 33, 33);">Edit</button>
                        <button @click="deleteArticle(art._id)" class="btn btn-secondary delete-btn">
                            Delete</button>
                    </div>
                </div>
            </div>
        </div>



        <!-- Modal for add -->
        <div class="modal" tabindex="-1" role="dialog" id="form_modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Create Article</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!-- modal body -->
                    <div class="modal-body">
                        <form @submit.prevent="postArticle">
                            <div class="form-group">
                                <label for="title">title</label>
                                <input type="text" class="form-control" id="title" v-model="title">
                            </div>
                            <div class="form-group">
                                <label for="content">Content</label>
                                <textarea class="form-control" id="content" rows="5" style="resize: none;"
                                    v-model="content"></textarea>
                            </div>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Save" />
                        </form>
                    </div>
                    <!-- <div class="modal-footer">
                    </div> -->
                </div>
            </div>
        </div>
        <!-- Modal for update -->
        <div class="modal" tabindex="-1" role="dialog" id="form_modal_update">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Article</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!-- modal body -->
                    <div class="modal-body">
                        <form @submit.prevent="updateArticle()">
                            <div class="form-group">
                                <label for="title">title</label>
                                <input type="text" class="form-control" id="title" v-model="title" :value="title">
                            </div>
                            <div class="form-group">
                                <label for="content">Content</label>
                                <textarea class="form-control" id="content" rows="5" v-model="content" :value="content"></textarea>
                            </div>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Save" />
                        </form>
                    </div>
                    <!-- <div class="modal-footer">
                        </div> -->
                </div>
            </div>
        </div>

    </div>
    <!-- footer -->
    <footer id="sticky-footer" class="bg-dark text-white-50">
        <div class="container text-center">
            <small>Copyright &copy; Mini WP</small>
        </div>
    </footer>


    <!-- Bootstrap script -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <!-- vue js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- my js -->
    <script src="js/vue.js"></script>
    <!-- nice editor -->
    <!-- <script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
    <script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script> -->

</body>

</html>