body {
  font-family: 'Lato', sans-serif;
}

#left-part {
  top: 50px
}

#top-nav {
  height: 40px;
}

#main-content {
  background-color: #EFF7F7;
  top: 50px
}

.title-list:hover {
  cursor: pointer;
}

.menu:hover {
  cursor: pointer;
}

.date {
  font-size: 0.7em;
  color: #333
}

#blog {
  background-color: white;
}

.article-content {
  line-height: 1.8em;
  color: #515151
}

.article-title {
  color: #141414
}

.dropdown-item:hover {
  cursor: pointer;
}

.dropdown-toggle:after {
  display: none;
}

.quill-editor {
  background-color: white;
}

.ql-editor{
  min-height:250px;
  max-height: 300px
}