#sticky-footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
}

.side_bar {
    position: absolute;
    left: 0;
    height: 100%;
    background-color: #007bff;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 2px;
}

.side_bar a {
    color: whitesmoke;
}

.navbar-brand {
    color: whitesmoke !important;
}

#body {
    padding-left: 0.3vw;
    margin-left: 10vw;
    margin-right: 0.4vw;
    height: 85vh;
    overflow-y: scroll;
    /* margin-top: 10vh; */
}
/* 
.head-er {
    position: fixed;
} */

button {
    color: whitesmoke !important;
}

body {
    overflow: hidden;
}

.article_box {
    border: 1px solid black;
    margin: 5px 0px;
}

blockquote {
    color: rgba(0, 0, 0, 0.541);
    text-align: left;
    padding-left: 3vw;
    margin-bottom: -1px;
}

#btn_inside {
    margin: 10px auto;
    display: inline-block;
}
