.sidebar {
  position: fixed;
  padding-top: 65px;
}
.sidebar-sticky {
  height: 100vh;
}
main {
  min-height: calc(100vh - 28px);
  padding-top: 70px;
}
.main-hr {
  border: 1px solid lightskyblue;
  width: 50%;
  margin-left: 0;
}
