@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import 'nav.css';
@import 'side-nav.css';
@import 'blog-post.css';

* {
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    list-style: none;
}

ul {
    padding: 0;
}

#article-editor {
    height: 375px;
}

body {
    background-color: #f0f0f0;
}
