$primary: #9e2b25;
$secondary: #595e62;
$success: #3f4b3f;
$main-bg: #f9f6ea;
// $info: $cyan !default;
// $warning: $yellow !default;
// $danger: $red !default;
// $light: $gray-100 !default;
// $dark: $gray-800 !default;
$theme-colors: (
  'main-bg': $main-bg
);

$body-bg: $main-bg;
$enable-shadows: true;

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';
